Pokemon Database Workshop

Objectives
    
    - Scalar get and set
    
    - Boolean indexing
    
    - Indexing with isin
    
    - MultiIndexing
        - Selecting with isin
    
    - Meta data and indexing
    
    - mask()
    
    - where()

Setup

There are 3 tables in this database:

    pokemon - main table giving meta inforation on each pokemon

    types - type names and ids

    pokemon_types - The relationship table containing each combination of
                    pokemon and type. For example if pokemon with id 1 has type
                    with id 1 then 1, 1 will be found in the table
                    pokemon_types

In [347]:
import pandas as pd

BASE_DIR = './pokemon/'

pokemon = pd.read_excel(BASE_DIR + 'pokemon.xlsx')
types = pd.read_excel(BASE_DIR + 'types.xlsx')
pokemon_types = pd.read_excel(BASE_DIR + 'pokemon_types.xlsx')

Activity 1
    
    1. Set index of DataFrame pokemon to p_id. Do not drop the column.
       Find and save the name of the pokemon with p_id = 143 into variable
       'name'

    2. Write a funciton named get_types(p_id: str) -> list that returns a list
       of pokemon types given the pokemon's id (p_id).

    3. Write a funciton get_pokemon(type_names: list) -> list that returns a
       list of pokemon names of all pokemon that have at least one type
       represented in the passed list of types (type_names).
       
    4. Set column "Ayden's Favorite" = True where p_id = 143

Objectives Used

    - Scalar get and set

    - Boolean indexing
    
    - Indexing with isin

In [331]:
pokemon = pokemon.set_index('p_id' ,drop=False)

In [332]:
name = pokemon.at[143,'name']

In [333]:

def get_types(id):
    typeNum = pokemon_types.loc[pokemon_types['p_id']==id]
    typeNum2= typeNum.t_id
    typeName = types['id'].isin(typeNum2)
    return types[typeName].name

In [334]:

    
    
def get_pokemon(typeName):
    typeNum = types['name'].isin(typeName)
    type1 = pokemon_types['t_id'].isin(types[typeNum].id)
    poke=pokemon['p_id'].isin(pokemon_types[type1].p_id)
    return pokemon[poke].name

In [335]:

pokemon.insert(5,"Ayden's Favorite",False)

In [336]:
pokemon.at[143, "Ayden's Favorite"]= True

Test your work:

In [337]:
assert name == 'snorlax'
assert sorted(get_types(145)) == ['electric', 'flying']
assert sorted(get_types(1)) == ['grass', 'poison']
assert sorted(get_pokemon(['dragon'])) == ['dragonair', 'dragonite', 'dratini','kingdra']
assert pokemon.at[143, "Ayden's Favorite"] == True
assert pokemon.at[143, 'name'] == 'snorlax'

Activity 2

    1. Create a MultiIndex for the pandas DataFrame pokemon that indexes by
       weight then height

    2. Rename the levels of the MultiIndex to mass and length respectively.

    3. Use function isin and assign to variable found a list of pokemon names
       where the following mass and length combinations are found:


mass, length

1000, 20

855, 16

905, 17

199, 11

2350, 65

554, 17

526, 16

600, 20

2020, 20

2160, 52

1990, 38

Objectives

    - MultiIndexing
        - Selecting with isins
            
    - Meta data and indexing

In [326]:
pokemon.set_index(['weight','height'], inplace = True)

In [327]:
pokemon.index.rename(['mass','length'], inplace = True)

In [328]:
tu_list= [(1000,20),(855,16),(905,17),(199,11),(2350,65),(554,17),(526,16),(600,20),(2020,20),(2160,52),(1990,38)]
foundBool = pokemon.index.isin(tu_list)
found = pokemon[foundBool].name

In [329]:
assert pokemon.index.names == ['mass', 'length']
assert sorted(found) == ['articuno', 'blastoise', 'charizard',
                         'gyarados', 'ho-oh', 'lugia', 'moltres', 'ninetales',
                         'tyranitar', 'venusaur', 'zapdos']

Activity 3

    1. Create a DataFrame named includes using the DataFrame function where
       that is the same shape as pokemon but only has values for p_id's 60-70.
       
    2. Use the DataFrame function mask to assign to variable excludes a
       DataFrame that is the same shape as pokemon but has values for
       p_id's < 20

Objectives
    
    - mask()

    - where()

In [356]:
filtRange = [60,61,62,63,64,65,66,67,68,69,70]
inclFilter1 = pokemon.p_id > 59
inclFilter2 = pokemon.p_id < 71
includes = pokemon.where(inclFilter1 & inclFilter2)
print(includes)

     p_id name  base_experience  height  weight
0     NaN  NaN              NaN     NaN     NaN
1     NaN  NaN              NaN     NaN     NaN
2     NaN  NaN              NaN     NaN     NaN
3     NaN  NaN              NaN     NaN     NaN
4     NaN  NaN              NaN     NaN     NaN
..    ...  ...              ...     ...     ...
294   NaN  NaN              NaN     NaN     NaN
295   NaN  NaN              NaN     NaN     NaN
296   NaN  NaN              NaN     NaN     NaN
297   NaN  NaN              NaN     NaN     NaN
298   NaN  NaN              NaN     NaN     NaN

[299 rows x 5 columns]

In [362]:
excludes = pokemon.mask(pokemon.p_id > 19)
print(excludes)

     p_id        name  base_experience  height  weight
0     1.0   bulbasaur             64.0     7.0    69.0
1     2.0     ivysaur            142.0    10.0   130.0
2     3.0    venusaur            263.0    20.0  1000.0
3     4.0  charmander             62.0     6.0    85.0
4     5.0  charmeleon            142.0    11.0   190.0
..    ...         ...              ...     ...     ...
294   NaN         NaN              NaN     NaN     NaN
295   NaN         NaN              NaN     NaN     NaN
296   NaN         NaN              NaN     NaN     NaN
297   NaN         NaN              NaN     NaN     NaN
298   NaN         NaN              NaN     NaN     NaN

[299 rows x 5 columns]

In [363]:
assert includes.name.dropna().to_list() == ['poliwag', 'poliwhirl',
                                            'poliwrath', 'abra', 'kadabra',
                                            'alakazam', 'machop', 'machoke',
                                            'machamp', 'bellsprout',
                                            'weepinbell']

assert excludes.name.dropna().to_list() == ['bulbasaur', 'ivysaur', 'venusaur',
                                            'charmander', 'charmeleon',
                                            'charizard', 'squirtle',
                                            'wartortle', 'blastoise',
                                            'caterpie', 'metapod',
                                            'butterfree', 'weedle', 'kakuna',
                                            'beedrill', 'pidgey', 'pidgeotto',
                                            'pidgeot', 'rattata']

assert includes.shape == excludes.shape == pokemon.shape